{% load django_bootstrap5 %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee Department</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .department-list {
            display: none;
            margin-left: 20px;
        }
    </style>
    {% bootstrap_css %}
</head>

<body>
    <h1>Подразделения:</h1>
    <ul>
        {% for department_node in departments_tree %}
            {% include 'person/department_node.html' with department_node=department_node %}
        {% endfor %}
    </ul>

    <script>
        $(document).ready(function(){
            $('.toggle-button').click(function(){
                $(this).next('.department-list').slideToggle();
            });
        });
    </script>
</body>
</html>
